@use "../utilites/variables" as *;
@use "../utilites/mixins" as *;

.projects{
    background-color: $color-white;
    &-inner{
        padding-block: 128px;
    }
    &-header{
        &_inner{
            display: flex;
            justify-content: space-between;
            padding-bottom: 4em;
        }
        &_inner a:hover img{
            animation: arrowrightAnim 0.5s linear infinite;
        }
        @keyframes arrowrightAnim {
            0%{
                transform: translateX(0);
             }
             100%{
                transform: translateX(10px);
             }
        }
        h1{
            @include text($color:$color-darkblue,$f-weight:600,$f-size:3em,$l-height:64px);   
        }
        &_link{
            @include text($color:$color-darkblue,$f-weight:600,$l-height:28px);
            display: flex;
            gap: 13px;
            align-items: center;
        }
    }

    &-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 23px;
        .project{
            position: relative;
        }
        .project:hover .project_info{
            animation: hoveranimproj 1s ease-in-out forwards;
        }
        @keyframes hoveranimproj {
            0%{
                opacity: 0;
                width: 0;
            }
            100%{
                opacity: 1;
                width: 100%;
            }
        }
        .project_info{
            background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgb(28, 30, 83,0.42) 103.96%);
            position: absolute;
            top: 0;
            left:0;
            height: 100%;
            width: 100%;
            opacity: 0;
            display: flex;
            justify-content: start;
            align-items: flex-end;
        }
        .project_info a:hover img{
            animation: arrowrightAnim 1s linear infinite;
        }
        @keyframes arrowrightAnim {
            0%{
                transform: translateX(0);
             }
             100%{
                transform: translateX(10px);
             }
        }
        .project_info_inner{
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-left: 3em;
            margin-bottom: 72px;

            h1{
                @include text($color:$color-white,$f-size:24px,$f-weight:600,$l-height:28px);
            }
            p{
                width: 90%;
                @include text($color:$color-white,$f-weight:600,$l-height:28px);
                opacity: 0.8;
            }
            a{
                padding-top: 30px;
                @include text($color:$color-yellow,$f-weight:600,$l-height:28px);
            }
            .project_link{
                display: flex;
                align-items: center;
                gap: 13px;
                img{
                    width: 30px;
                    height: auto;
                }
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .project:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/3;
        }
}
}