@use "../utilites/variables" as *;


.btn{
    padding: 16px 48px;
    color: $color-white;
    border: 2px solid rgb($color-grey,0.2);
    border-radius: 40px;
    &.button-yellow{
        background-color: $color-yellow;
        color: #1B1C2B;
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;
        
    }
}

