$color-white:#ffffff;
$color-royalblue: #2405F2;
$color-darkblue: #282938;
$color-grey: #F4F6FC;
$color-yellow: #FCD980;
$color-tintblue: #1C1E53;
$color-accent: #EEF4FA;
$font-family: "Poppins", sans-serif;
